@import "tailwindcss";

#input-wrap {
  position: relative;
  display: inline-block;
}

#input-wrap::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.1s ease;
}

#input-wrap:hover::after {
  width: 100%;
}

#input-wrap:has(input:focus)::after {
  width: 100%;
}
